body
{
background: #000;
}

p
{
color: #fff;
font-size: 300%;
text-align:center;
}

.container
{
display: flex;
justify-content: center;
align-items: center;
align-self: center;
}

.eyelid
{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #080449; 
    box-shadow: 15px 15px 0 0 #080449;
    
    
animation-name: open-eyes;
animation-duration: 6s; 
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-delay: 1s;
animation-timing-function: ease-in-out;
}
@keyframes open-eyes{
    0% {
    top: 0;
    }
    100% {
    top: -400%;
    }
}

.eyeball
{       
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff; 
    overflow: hidden;
}

.inner-eye
{   
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    background-color: #050044;  
}


.pupil
{   
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;  
}

.light
{   position: absolute;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;  
}



@media screen and (max-width: 699px) {
h1
{
color:#fff;
font-size: 350%;
}

.eyelid
{  
    width: 300px;
    height: 300px
}
.eyeball
{    
    width: 100px;
    height: 100px
}

.inner-eye
{    
    width: 40px;
    height: 40px
}

.pupil
{   
    width: 10px;
    height: 10px
}

.light
{  
    width: 5px;
    height: 5px
}
}



@media screen and (min-width: 700px) {
    h1
{
color:#fff;
font-size: 1000%;
}
.eyelid
{     
    width: 600px;
    height: 600px
}
.eyeball
{    
    width: 200px;
    height: 200px
}

.inner-eye
{    
    width: 100px;
    height: 100px
}

.pupil
{    
    width: 50px;
    height: 50px
}

.light
{   
    width: 15px;
    height: 15px
}

}



.copyright
{
font-size: 150%;
font-style: italic;
}
